body { 
    margin:0;
    padding:0;
}

#map {
    position:absolute;
    margin-top: 10px;
    margin-bottom: 5%;
    margin-left: 0%;
    margin-right: 10%;
    /* margin: 3%; */
    width: 70%;
    height: 25%;
}

#application{
    position: absolute;
    bottom: 0;
    width: 100%;
}

.leaflet-popup-content img {
    max-width: 100%;
}

.info-cards {
    padding-left: 50px;
    padding-right: 50px;
    padding: 50px 5px;
    margin-top: 250px;
}

.activator {
    height: 150px;
    overflow: hidden;
    max-width: 80%%;
}

.card-content {
    height: 10px;
    nav-down: 100%;
}

.info-wrapper{
        max-height: 600px
}

