
body { 
    margin:0;
    padding:0;
}


.modal {
    max-height: 80%;
}

#map {
    position:absolute;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 0%;
    margin-right: 10%;
    /* margin: 3%; */
    width: 70%;
    height: 60%;
}

#application{
    position: absolute;
    bottom: 0;
    width: 100%;
}

.leaflet-popup-content img {
    max-width: 100%;
}

.carousel{
    padding: 30px 300px 30px 300px;
    position: relative;
    top: 500px;
}