body { 
    margin:0;
    padding:0;
}


.modal {
    max-height: 80%;
}

#map {
    position:absolute;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 0%;
    margin-right: 10%;
    /* margin: 3%; */
    width: 70%;
    height: 60%;
}

#carousel {
    margin-top: 70%;
    margin-bottom: 2%;
}

#carousel-text {
    margin-bottom: 42%;
}

#nick-carousel-text {
    margin-bottom: 70%;
}

#application{
    position: absolute;
    bottom: 0;
    width: 100%;
}

.leaflet-popup-content img {
    max-width: 100%;
}